<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Distributed Quiz</title>
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <link rel="import" href="components/d-app.html">
        <script>
				window.API_URL = '<%= HOST %>:<%= PORT %>';
        </script>

        <style>
            html, body {
                height: 100%;
                width: 100%;
                margin: 0;
                font-family: 'Roboto', 'Noto', 'Helvetica Neue', 'Arial', sans-serif;
            }
        </style>
    </head>
    <body class="fullbleed layout vertical">
        <d-app></d-app>
    </body>
</html>