<!-- Import Polymer, the framework used to make the client -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Import the components used -->
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/iron-data-table/iron-data-table.html">

<!-- Import the socket io library -->
<script src="../bower_components/socket.io-client/dist/socket.io.js"></script>

<!-- The Application component definition -->
<dom-module id="d-app">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }

            .new-game-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: space-between;
            }

            .button-container {
                height: 76px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            .create-button {
                height: 44px;
                background-color: #00e676;
                margin-right: 16px;
            }

            .player-list-container {
                flex: 1;
                margin: 16px;
                overflow: scroll;
            }

            .action-button {
                width: 100%;
                margin: 0;
                background-color: #00e676;
            }

            .disabled-button {
                width: 100%;
                margin: 0;
            }
            .statement {
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20pt;
            }
            .choices {
                flex: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 15px;
            }
            .response {
                height: 80px;
                margin: 10px;
            }

            .score {
                margin: 15px;
            }
        </style>

        <paper-header-panel>
            <paper-toolbar class="toolbar">
                <div>Distributed Quiz</div>

            </paper-toolbar>

            <!-- The Enter Name Screen -->
            <template is="dom-if" if="[[_shouldRenderEnterNameScreen]]">
                <div class="content fit container">
                    <div class="new-game-container">
                        <paper-input label="Enter Name" value="{{name}}"></paper-input>
                    </div>
                    <div class="button-container">

                        <template is="dom-if" if="[[isAdmin]]">
                            <paper-button class="create-button" on-tap="createNewGame">
                                CREATE GAME
                            </paper-button>
                        </template>
                        <template is="dom-if" if="[[!isAdmin]]">
                            <paper-button class="create-button" on-tap="joinGame">
                                JOIN
                            </paper-button>
                        </template>
                    </div>
                </div>
            </template>

            <!-- The Join Game Screen -->
            <template is="dom-if" if="[[_shouldRenderJoinGameScreen]]">
                <div class="content fit container">
                    <div class="player-list-container">
                        <span>Players:</span>
                        <ul>
                            <template is="dom-repeat" items="{{players}}">
                                <li>{{item.name}}</li>
                            </template>
                        </ul>
                    </div>
                    <template is="dom-if" if="[[_shouldRenderStartButton]]">
                        <paper-button class="action-button" on-tap="startGame">
                            START
                        </paper-button>
                    </template>
                    <template is="dom-if" if="[[_shouldRenderWaitingDisabledButton]]">
                        <paper-button disabled class="disabled-button">
                            WAITING...
                        </paper-button>
                    </template>
                </div>
            </template>

            <!-- The Question Screen -->
            <template is="dom-if" if="[[_shouldRenderQuestion]]">
                <div class="container">
                    <div class="score">
                        Score: {{score}}
                    </div>
                    <span class="statement">
                        [[statement]]
                    </span>

                    <template is="dom-if" if="[[_shouldRenderWaitingPage]]">
                        <div class="response">
                            Waiting for {{playerCurrentlyAnswering}} to answer
                        </div>
                    </template>

                    <template is="dom-if" if="[[_shouldRenderChoices]]">
                        <paper-radio-group selected="{{selectedAnswer}}" class="choices">
                            <template is="dom-repeat" items="{{choices}}">
                                <paper-radio-button name="{{index}}">{{item}}</paper-radio-button>
                            </template>
                        </paper-radio-group>

                        <paper-button class="action-button" on-tap="selectAnswer">
                            Submit
                        </paper-button>
                    </template>

                    <template is="dom-if" if="[[_shouldRenderBuzzButton]]">
                        <paper-button class="action-button" on-tap="buzz">
                            Buzz
                        </paper-button>
                    </template>

                    <template is="dom-if" if="[[_shouldRenderWaitingBuzzResponseDisabledButton]]">
                        <paper-button disabled class="disabled-button">
                            WAITING...
                        </paper-button>
                    </template>

                    <template is="dom-if" if="[[_shouldRenderCorrectPage]]">
                        <div class="response">
                            Correct : The answer is {{correctAnswer}}
                        </div>
                    </template>

                    <template is="dom-if" if="[[_shouldRenderIncorrectPage]]">
                        <div class="response">
                            Incorrect : The answer is {{correctAnswer}}
                        </div>

                    </template>

                    <template is="dom-if" if="[[_shouldRenderNextQuestionButton]]">
                        <paper-button class="action-button" on-tap="nextQuestion">
                            NEXT QUESTION
                        </paper-button>
                    </template>
                </div>
            </template>

            <!-- The Score Table Screen -->
            <template is="dom-if" if="[[_shouldRenderScoreTable]]">
                <iron-data-table items="[[scoreTable]]">
                    <data-table-column name="Player">
                        <template>[[item.name]]</template>
                    </data-table-column>
                    <data-table-column name="Score" sort-by="score">
                        <template>[[item.score]]</template>
                    </data-table-column>
                </iron-data-table>
            </template>
        </paper-header-panel>
    </template>
    <script>
        // Application player state constants
        const EMPTY_STATE = 'empty state';
        const CREATING_NEW_GAME = 'creating new game';
        const JOINING_GAME = 'joining game';
        const PLAYING = 'playing';
        const DONE_PLAYING = 'done playing';

        // Question state constants
        const NOT_BUZZED = 'not buzzed';
        const BUZZED = 'buzzed';
        const ANSWERING = 'answering';
        const WAITING = 'waiting';
        const CORRECT = 'correct';
        const INCORRECT = 'incorrect';

        // Application component
        // The entire component is defined here
        Polymer({
        	// The name of the component
            is: "d-app",
            // The list of properties
            properties: {
            	// The score table
                scoreTable: {
                	type: Array,
                    value: []
                },

                // The web socket
                socket: Object,

                // The player name
                name: {
                    type: String,
                    value: ""
                },

                // The player state of the application
                state: {
                    type: String,
                    value: EMPTY_STATE
                },

                // The question state
                questionState: {
                    type: String,
                    value: NOT_BUZZED
                },

                // Flag if player is an admin player
                isAdmin: {
                    type: Boolean,
                    value: true
                },

                // The id of the player
                id: Number,

                // The current question statement
                statement: String,

                // The question choices
                choices: Array,

                // The amount by which the physical clock is to be corrected
                timeCorrection: {
                    type: Number,
                    value: 0
                },

                // The list of players in the game
                players: {
                    type: Array,
                    value: []
                },

                // The current player score
                score: {
                    type: Number,
                    value: 0
                },

                // The current selected answer index
                selectedAnswer:{
                    type: Number,
                    value: 0
                },

                // The correct answer
                correctAnswer: String,

                // The name of the player currently answering
                playerCurrentlyAnswering: String,

                // Flag indicating if we should be rendering the enter name screen
                _shouldRenderEnterNameScreen: {
                    computed: '_computeShouldRenderEnterNameScreen(state)'
                },

                // Flag indicating if we should be rendering the join game screen
                _shouldRenderJoinGameScreen: {
                    computed: '_computeShouldRenderJoinGameScreen(state)'
                },

                // Flag indicating if we should be rendering the start game button
                _shouldRenderStartButton: {
                    computed: '_computeShouldRenderStartButton(state, isAdmin)'
                },

                // Flag indicating if we should be rendering the waiting button
                _shouldRenderWaitingDisabledButton: {
                    computed: '_computedShouldRenderWaitingDisabledButton(state, isAdmin)'
                },

                // Flag indicating if we should be rendering the question
                _shouldRenderQuestion: {
                    computed: '_computeShouldRenderQuestion(state)'
                },

                // Flag indicating if we should be rendering the choices
                _shouldRenderChoices: {
                    computed: '_computeShouldRenderChoices(state, questionState)'
                },

                // Flag indicating if we should be rendering the waiting page
                _shouldRenderWaitingPage: {
                    computed: '_computeShouldRenderWaitingPage(state, questionState)'
                },

                // Flag indicating if we should be rendering the buzz button
                _shouldRenderBuzzButton: {
                    computed: '_computeShouldRenderBuzzButton(state, questionState)'
                },

                // Flag indicating if we should be rendering the correct page
                _shouldRenderCorrectPage: {
                    computed: '_computeShouldRenderCorrectPage(state, questionState)'
                },

                // Flag indicating if we should be rendering the incorrect page
                _shouldRenderIncorrectPage: {
                    computed: '_computeShouldRenderIncorrectPage(state, questionState)'
                },

                // Flag indicating if we should be rendering the next question button
                _shouldRenderNextQuestionButton: {
                    computed: '_computeShouldRenderNextQuestionButton(state, questionState, isAdmin)'
                },

                // Flag indicating if we should be rendering the score table
                _shouldRenderScoreTable: {
                    computed: '_computeShouldRenderScoreTable(state)'
                },

                // Flag indicating if we should be rendering the waiting for buzz response disabled button
                _shouldRenderWaitingBuzzResponseDisabledButton: {
                    computed: '_computeShouldRenderWaitingBuzzResponseDisabledButton(state, questionState)'
                }
            },
            // Method that runs as soon as the component is ready
			ready() {
            	// Setup the socket connection
				this._setupSocketConnection();

				// Setup the socket routes
				this._setupSocketRoutes();
			},
            _setupSocketConnection() {
				this.socket = io();
            },

            _setupSocketRoutes() {
				this.socket.on('request time', () => {
					this.onRequestTime();
				});

				this.socket.on('correct time', (data) => {
					this.onCorrectTime(data);
				});

				this.socket.on('game created', (data) => {
					this.onGameCreate(data);
				});

				this.socket.on('game joined', (data) => {
					this.onGameJoined(data);
				});

				this.socket.on('next question', (data) => {
					this.onNextQuestion(data);
				});

				this.socket.on('admin', (data) => {
					this.onAdmin();
				});

				this.socket.on('not admin', (data) => {
					this.onNotAdmin();
				});

				this.socket.on('new player joined', (data) => {
					this.onNewPlayerJoined(data);
				});

				this.socket.on('answer', () => {
					this.onAnswer();
				});

				this.socket.on('wait for answer', (data) => {
					this.onWaitForAnswer(data);
				});

				this.socket.on('correct', (data) => {
					this.onCorrect(data);
				});

				this.socket.on('incorrect', (data) => {
					this.onIncorrect(data);
				});

				this.socket.on('game over', (data) => {
					this.onGameOver(data);
				});
            },

            // Socket event handlers
			onRequestTime() {
				let timestamp = Date.now() + Math.round(this.timeCorrection);
				this.socket.emit('respond time', {
					timestamp: timestamp
				});
			},
			onCorrectTime(data) {
				this.timeCorrection = this.timeCorrection + data.correction;
			},
			onGameCreate(data) {
				this.id = data.id;
			},
			onGameJoined(data) {
				this.id = data.id;
				data.players.forEach((player) => {
					this.push('players', player);
				});
			},
			onNextQuestion(data) {
				this.statement = data.statement;
				this.choices = data.choices;
				this.questionState = NOT_BUZZED;
				this.state = PLAYING;
			},
			onAdmin() {
				this.isAdmin = true;
			},
			onNotAdmin() {
				this.isAdmin = false;
			},
			onNewPlayerJoined(data) {
				this.push('players', {
					id: data.id,
					name: data.name
				});
			},
			onAnswer() {
				this.questionState = ANSWERING;
			},
			onWaitForAnswer(data) {
				this.questionState = WAITING;
				this.playerCurrentlyAnswering = data.name;
			},
			onCorrect(data) {
				this.correctAnswer = data.answer;
				this.questionState = CORRECT;
				this.score = data.score;
			},
			onIncorrect(data) {
				this.correctAnswer = data.answer;
				this.questionState = INCORRECT;
				this.score = data.score;
			},
			onGameOver(data) {
				this.scoreTable = data.scoreTable;
				this.state = DONE_PLAYING;
			},

            // Methods that run when client events are handled
			createNewGame() {
				this.state = JOINING_GAME;
				this.isAdmin = true;
				this.socket.emit("create new game",{name:this.name})
			},
			joinGame(){
				this.state = JOINING_GAME;
				this.socket.emit("join game",{name:this.name})
			},
			startGame() {
				this.socket.emit("start game",{});
			},
			buzz() {
				this.socket.emit('buzz', {
					timestamp: Date.now() + Math.round(this.timeCorrection)
				});
				this.questionState = BUZZED;
			},
			selectAnswer() {
				this.socket.emit('select answer', {
					answer: this.choices[this.selectedAnswer]
				});
			},
			nextQuestion() {
				this.socket.emit('next question', {});
			},

            // Methods to compute the computed properties
            _computeShouldRenderEnterNameScreen(state) {
                return state === EMPTY_STATE;
            },
            _computeShouldRenderCreateNewGameScreen(state) {
                return state === CREATING_NEW_GAME;
            },
            _computeShouldRenderJoinGameScreen(state) {
                return state === JOINING_GAME;
            },
            _computeShouldRenderStartButton(state, isAdmin) {
                return (state === JOINING_GAME) && isAdmin;
            },
            _computedShouldRenderWaitingDisabledButton(state, isAdmin) {
                return (state === JOINING_GAME) && (!isAdmin);
            },
            _computeShouldRenderQuestion(state){
                return state === PLAYING;
            },
            _computeShouldRenderChoices(state, questionState) {
                return (state === PLAYING) && (questionState === ANSWERING);
            },
            _computeShouldRenderWaitingPage(state, questionState) {
                return (state === PLAYING) && (questionState === WAITING);
            },
            _computeShouldRenderBuzzButton(state, questionState) {
                return (state === PLAYING) && (questionState === NOT_BUZZED);
            },
            _computeShouldRenderCorrectPage(state, questionState) {
                return (state === PLAYING) && (questionState === CORRECT);
            },
            _computeShouldRenderIncorrectPage(state, questionState) {
                return (state === PLAYING) && (questionState === INCORRECT);
            },
            _computeShouldRenderNextQuestionButton(state, questionState, isAdmin){
                return (state === PLAYING) &&
                       ((questionState === INCORRECT) || (questionState === CORRECT)) &&
                       (isAdmin);
            },
			_computeShouldRenderScoreTable(state) {
            	return state === DONE_PLAYING;
            },
			_computeShouldRenderWaitingBuzzResponseDisabledButton(state, questionState){
            	return (state === PLAYING) && (questionState === BUZZED);
            }

        });
    </script>
</dom-module>

