<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<dom-module id="d-homepage">
    <template>
        <style>
            .create-game-button {
                background-color: #c51162;
            }
        </style>

        <paper-button class="create-game-button">
            Create Game
        </paper-button>
    </template>
    <script>
        Polymer({
            is: "d-homepage"
        });
    </script>
</dom-module>

