<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="d-homepage">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }

            .selections {
                display: flex;
                flex-direction: column;
            }

            .game-button {
                background-color: #e0e0e0;
                margin-top: 10px;
            }

            .new-game-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .button-container {
                height: 76px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            .create-button {
                height: 44px;
                background-color: #00e676;
                margin-right: 16px;
            }

            .player-list-container {
                flex: 1;
                margin: 16px;
                overflow: scroll;
            }

            .start-button {
                width: 100%;
                margin: 0;
                background-color: #00e676;
            }

            .disabled-button {
                width: 100%;
                margin: 0;
            }
        </style>

        <paper-header-panel>
            <paper-toolbar>
                <div>{{header}}</div>
            </paper-toolbar>


            <template is="dom-if" if="[[_shouldRenderSelection]]">
                <div class="selections">
                    <paper-button class="game-button">
                        Create New Game
                    </paper-button>
                    <template is="dom-repeat" items="{{games}}">
                        <paper-button class="game-button">
                            Join: {{item.name}}
                        </paper-button>
                    </template>
                </div>
            </template>

            <template is="dom-if" if="[[_shouldRenderCreateNewGameScreen]]">
                <div class="content fit container">
                    <div class="new-game-container">
                        <paper-input label="Enter Quiz Name"></paper-input>
                    </div>
                    <div class="button-container">
                        <paper-button class="create-button">CREATE</paper-button>
                    </div>
                </div>
            </template>

            <template is="dom-if" if="[[_shouldRenderJoinGameScreen]]">
                <div class="content fit container">
                    <div class="player-list-container">
                        <span>Players:</span>
                        <ul>
                            <template is="dom-repeat" items="{{players}}">
                                <li>{{item.name}}</li>
                            </template>
                        </ul>
                    </div>
                    <template is="dom-if" if="[[_shouldRenderStartButton]]">
                        <paper-button class="start-button">
                            START
                        </paper-button>
                    </template>
                    <template is="dom-if" if="[[_shouldRenderWaitingDisabledButton]]">
                        <paper-button disabled class="disabled-button">
                            WAITING...
                        </paper-button>
                    </template>

                </div>
            </template>

        </paper-header-panel>



    </template>
    <script>
        const EMPTY_STATE = 'empty state';
        const CREATING_NEW_GAME = 'creating new game';
        const JOINING_GAME = 'joining game';

        Polymer({
            is: "d-homepage",
            properties: {
                games: Array,
                selectedGame: {
                  type: Object,
                  value: {
                    "name": "Demo Quiz",
                    "players": [{
                      "name": "Player 1"
                    }, {
                      "name": "Player 2"
                    }]
                  }
                },
                header: {
                    type: String,
                    value: 'Distributed Quiz'
                },
                state: {
                    type: String,
                    value: JOINING_GAME // EMPTY_STATE
                },
                isAdmin: {
                    type: Boolean,
                    value: false
                },
                players: {
                    computed: '_computePlayers(selectedGame)'
                },
                _shouldRenderSelection: {
                    computed: '_computeShouldRenderSelection(state)'
                },
                _shouldRenderCreateNewGameScreen: {
                    computed: '_computeShouldRenderCreateNewGameScreen(state)'
                },
                _shouldRenderJoinGameScreen: {
                    computed: '_computeShouldRenderJoinGameScreen(state)'
                },
                _shouldRenderStartButton: {
                    computed: '_computeShouldRenderStartButton(state, isAdmin)'
                },
                _shouldRenderWaitingDisabledButton: {
                    computed: '_computedShouldRenderWaitingDisabledButton(state, isAdmin)'
                }
            },
            _computeShouldRenderSelection(state) {
                return state === EMPTY_STATE;
            },
            _computeShouldRenderCreateNewGameScreen(state) {
                return state === CREATING_NEW_GAME;
            },
            _computeShouldRenderJoinGameScreen(state) {
                return state === JOINING_GAME;
            },
            _computeShouldRenderStartButton(state, isAdmin) {
                return (state === JOINING_GAME) && isAdmin;
            },
            _computedShouldRenderWaitingDisabledButton(state, isAdmin) {
                return (state === JOINING_GAME) && (!isAdmin);
            },
            _computePlayers(selectedGame) {
                return selectedGame ? selectedGame.players : [];
            }
        });
    </script>
</dom-module>

