<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<script src="../bower_components/socket.io-client/dist/socket.io.js"></script>
<link rel="import" href="d-question.html">

<dom-module id="d-homepage">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }

            .selections {
                display: flex;
                flex-direction: column;
            }

            .game-button {
                background-color: #e0e0e0;
                margin-top: 10px;
            }

            .new-game-container {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
            }

            .button-container {
                height: 76px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
            }

            .create-button {
                height: 44px;
                background-color: #00e676;
                margin-right: 16px;
            }

            .player-list-container {
                flex: 1;
                margin: 16px;
                overflow: scroll;
            }

            .start-button {
                width: 100%;
                margin: 0;
                background-color: #00e676;
            }

            .disabled-button {
                width: 100%;
                margin: 0;
            }
        </style>

        <paper-header-panel>
            <paper-toolbar>
                <div>{{header}}</div>
            </paper-toolbar>


            <template is="dom-if" if="[[_shouldRenderEnterNameScreen]]">
                <div class="content fit container">
                    <div class="new-game-container">
                        <paper-input label="Enter Name" value="{{name}}"></paper-input>
                    </div>
                    <div class="button-container">

                        <template is="dom-if" if="[[isAdmin]]">
                            <paper-button class="create-button" on-tap="Create">
                                CREATE GAME
                            </paper-button>
                        </template>
                        <template is="dom-if" if="[[!isAdmin]]">
                            <paper-button class="create-button" on-tap="Join">
                                JOIN
                            </paper-button>
                        </template>


                    </div>
                </div>
            </template>

            <template is="dom-if" if="[[_shouldRenderJoinGameScreen]]">
                <div class="content fit container">
                    <div class="player-list-container">
                        <span>Players:</span>
                        <ul>
                            <template is="dom-repeat" items="{{players}}">
                                <li>{{item.name}}</li>
                            </template>
                        </ul>
                    </div>
                    <template is="dom-if" if="[[_shouldRenderStartButton]]">
                        <paper-button class="start-button" on-tap="Start">
                            START
                        </paper-button>
                    </template>
                    <template is="dom-if" if="[[_shouldRenderWaitingDisabledButton]]">
                        <paper-button disabled class="disabled-button">
                            WAITING...
                        </paper-button>
                    </template>

                </div>
            </template>

            <template is="dom-if" if="[[_shouldRenderQuestion]]">
                <d-question
                        choices="{{choices}}"
                        statement="{{statement}}"
                        socket="{{socket}}"
                        id="{{id}}"
                        time-correction="{{timeCorrection}}"
                >
                </d-question>
            </template>

        </paper-header-panel>



    </template>
    <script>
        const EMPTY_STATE = 'empty state';
        const CREATING_NEW_GAME = 'creating new game';
        const JOINING_GAME = 'joining game';
        const PLAYING = 'playing';

        Polymer({
            is: "d-homepage",
            properties: {
                socket: Object,
                name: {
                    type: String,
                    value: ""
                },
                header: {
                    type: String,
                    value: 'Distributed Quiz'
                },
                state: {
                    type: String,
                    value: EMPTY_STATE
                },
                isAdmin: {
                    type: Boolean,
                    value: true
                },
                id: Number,
                statement: String,
                choices: Array,
                timeCorrection: {
                    type: Number,
                    value: 0
                },
                players: {
                    type: Array,
                    value: []
                },
                _shouldRenderCreateNewGameScreen: {
                    computed: '_computeShouldRenderCreateNewGameScreen(state)'
                },
                _shouldRenderEnterNameScreen: {
                    computed: '_computeShouldRenderEnterNameScreen(state)'
                },
                _shouldRenderJoinGameScreen: {
                    computed: '_computeShouldRenderJoinGameScreen(state)'
                },
                _shouldRenderStartButton: {
                    computed: '_computeShouldRenderStartButton(state, isAdmin)'
                },
                _shouldRenderWaitingDisabledButton: {
                    computed: '_computedShouldRenderWaitingDisabledButton(state, isAdmin)'
                },
                _shouldRenderQuestion: {
                    computed: '_computeShouldRenderQuestion(state)'
                },
            },
            ready() {
                this.socket = io.connect('localhost:8080');

                this.socket.on('request time', () => {
                    let timestamp = Date.now() + Math.round(this.timeCorrection);
                    this.socket.emit('respond time', {
                        timestamp: timestamp
                    });
                });

                this.socket.on('correct time', (data) => {
                    this.timeCorrection = this.timeCorrection + data.correction;
                });

                this.socket.on('game created', (data) => {
                    this.id = data.id;
                });

                this.socket.on('game joined', (data) => {
                    this.id = data.id;
                    data.players.forEach((player) => {
                       this.push('players', player);
                    });
                });

                this.socket.on('next question', (data) => {
                    this.statement = data.statement;
                    this.choices = data.choices;
                    this.state = PLAYING;
                });

                this.socket.on('admin', (data) => {
                   this.isAdmin = true;
                });

                this.socket.on('not admin', (data) => {
                    this.isAdmin = false;
                });

                this.socket.on('new player joined', (data) => {
                    console.log("New Player Joined");
                    console.log(data);
                    this.push('players', {
                        id: data.id,
                        name: data.name
                    });
                    console.log(this.players);
                });


            },
            _computeShouldRenderEnterNameScreen(state) {
                return state === EMPTY_STATE;
            },
            _computeShouldRenderCreateNewGameScreen(state) {
                return state === CREATING_NEW_GAME;
            },
            _computeShouldRenderJoinGameScreen(state) {
                return state === JOINING_GAME;
            },
            _computeShouldRenderStartButton(state, isAdmin) {
                return (state === JOINING_GAME) && isAdmin;
            },
            _computedShouldRenderWaitingDisabledButton(state, isAdmin) {
                return (state === JOINING_GAME) && (!isAdmin);
            },
            _computeShouldRenderQuestion(state){
               return state === PLAYING;
            },
            CreateNewGame(){
                this.state =CREATING_NEW_GAME;
            },
            JoiningGame(){
                this.state=JOINING_GAME;
                this.isAdmin=false;
            },
            Create() {
                this.state=JOINING_GAME;
                this.isAdmin=true;
                this.socket.emit("create new game",{name:this.name})
            },
            Join(){
                this.state=JOINING_GAME;
                this.socket.emit("join game",{name:this.name})
            },
            Start() {
                this.socket.emit("start game",{});
            }
        });
    </script>
</dom-module>

