<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">


<dom-module id="d-question">
    <template>
        <style>
            :host {
                display: block;
                width: 100%;
                height: 100%;
            }
            .layout-container {
                display: flex;
                height: 99%;
                flex-direction: column;
            }
            .statement {
                margin: 10px;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24pt;
            }
            .choices {
                flex: 4;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .submit {
                background-color: #2ecc71;
            }
        </style>
        <div class="layout-container">
            <span class="statement">
                [[statement]]
            </span>

            <template is="dom-if" if="[[_shouldRenderChoices]]">
                <paper-radio-group selected="0" class="choices">
                    <template is="dom-repeat" items="{{choices}}">
                        <paper-radio-button name="{{index}}">{{item}}</paper-radio-button>
                    </template>
                </paper-radio-group>

                <paper-button class="submit" raised>
                    Submit
                </paper-button>
            </template>

            <template is="dom-if" if="[[_shouldRenderBuzzButton]]">
                <paper-button
                        class="submit"
                        raised
                        on-tap="buzz"
                >
                    Buzz
                </paper-button>
            </template>


        </div>
    </template>
    <script>
        const NOT_ANSWERED = 'Not Answered';
        const WAITING_FOR_ME = 'Waiting For Me';

        Polymer({
            /* this is the element's prototype */
            is: 'd-question',
            properties: {
                buzzState: {
                    type: String,
                    value: NOT_ANSWERED
                },
                id: Number,
                socket: Object,
                _shouldRenderChoices: {
                    computed: '_computeShouldRenderChoices(buzzState)'
                },
                _shouldRenderBuzzButton: {
                    computed: '_computeShouldRenderBuzzButton(buzzState)'
                },
                statement: String,
                choices: Array,
                timeCorrection: Number
            },

            ready(){
                this.socket.on('answer',()=> {
                         //todo
                });

                this.socket.on('waiting for answer',(data)=> {
                    //todo
                });

                this.socket.on('correct',(data)=> {
                    //todo
                });

                this.socket.on('incorrect',(data)=> {
                    //todo
                });

            },

            _computeShouldRenderChoices(buzzState) {
                return buzzState === WAITING_FOR_ME;
            },
            _computeShouldRenderBuzzButton(buzzState) {
                return buzzState === NOT_ANSWERED;
            },
            buzz() {
                this.socket.emit('buzz', {
                  timestamp: Date.now() + Math.round(this.timeCorrection)
                });
                this.buzzState = WAITING_FOR_ME;
            }
        });
    </script>
</dom-module>